[include]
	path = ~/.dotfiles/.gitconfig.local
[core]
    editor = code --wait
	excludesfile = ~/.gitignore_global
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $
[gitflow "prefix"]
	feature = feature/
	release = release/
	hotfix = hotfix/
	support = support/	
	versiontag = v
[url "https://github.com/"]
    insteadOf = gh:
[url "https://gist.github.com/"]
    insteadOf = gist:
[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = red
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
